.clearfix
  .clearfix
    .form-group
      %h2 Update Reports
  .clearfix(ng-if="ready")
    %table.table.table-striped
      %thead
        %tr
          %th Runned By
          %th Info
          %th Created At
      %tr(ng-repeat="report in reports track by $index")
        %td {{::report.runned_by}}
        %td {{::report.info}}
        %td {{::report.created_at | date:'medium'}}
