.spinner-component {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  height: 52px;
  z-index: 2;
  @include bg-svg($loading-svg);
  @include opacity(0.05);
  background-size: 74px 74px;
  @include animation(move 1.2s infinite linear);
}
body.spinner {
  .navbar {
    &:after {
      @extend .spinner-component;
    }
  }
  &.modal-open {
    .navbar:after {
      display: none;
    }
    .modal-header {
      position: relative;
      &:after {
        @extend .spinner-component;
      }
    }
  }
}
@include keyframes(move) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 74px 0;
  }
}
