!!!
%html(ng-app="app")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Soap
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .row
          %ul.nav.navbar-nav
            %li
              %a(href="/#/") Currencies
            %li
              %a(href="/#/reports") Report Updates
    .container
      %div(ng-view)
