.modal
  .modal-dialog
    .modal-content
      .modal-header
        .row
          .col-xs-10
            Assing Country to a
            %b {{::currency.name}}
          .col-xs-2.text-right
            .close(ng-click="$hide()")
              &times;
            
      .modal-body
        .clearfix
          .form-group
            %input.form-control(ng-model="search" placeholder="search" autofocus)
        %table.table.table-striped
          %thead
            %tr
              %th
              %th Code
              %th Name
          %tr(ng-repeat="country in countries | filter:search:strict" ng-click="updateCountries(country)" role="button")
            %td
              %input(type="checkbox" id="country-{{::country.id}}" ng-checked="country.checked")
            %td
              {{::country.code | uppercase}}
            %td 
              {{::country.name}}
