.clearfix
  .clearfix
    .form-group
      %h2 Countries
  .clearfix(if-if="ready")
    .form-group
      %input.form-control(placeholder="search" ng-model="search")
    .clearfix
      %table.table.table-striped
        %thead
          %tr
            %th Currency Name
            %th Currency Code
            %th Countries
        %tr(ng-repeat="currency in currencies | filter:search")
          %th
            %a(ng-href="/#/currencies/{{::currency.id}}")
              {{::currency.name}}
          %td
            %a(ng-href="/#/currencies/{{::currency.id}}")
              {{::currency.code}}
          %td
            %div(ng-repeat="country in currency.countries track by $index")
              {{::country.name}}
