.clearfix(ng-if="ready")
  .clearfix
    .form-group
      %h2 {{::currency.name}} ({{::currency.code}})
  .clearfix
    .text-right
      %button.btn.btn-default.btn-lg(ng-click="popup.show()") 
        Assing a country to the 
        %b {{::currency.name}}
    %table.table.table-striped
      %thead
        %tr
          %th Code
          %th Country Name
        %tr(ng-repeat="country in currency.countries track by $index")
          %td
            {{::country.code | uppercase}}
          %td
            {{::country.name}}
